<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="local">
        <property name="LOKI_URL" value="http://localhost:3100/loki/api/v1/push"/>
    </springProfile>
    <springProfile name="test">
        <property name="LOKI_URL" value="http://localhost:3100/loki/api/v1/push"/>
    </springProfile>
    <springProfile name="dev">
        <property name="LOKI_URL" value="http://loki:3100/loki/api/v1/push"/>
    </springProfile>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL}</url>
        </http>
        <format>
            <label>
                <pattern>app=Pengcook,host=${HOSTNAME},level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>
                    {
                    "level":"%level",
                    "class":"%logger{36}",
                    "thread":"%thread",
                    "message": "%replace(%replace(%message){"\\","\\\\"}){"\"","\\\""}"
                    }
                </pattern>
            </message>
        </format>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <springProfile name="!test">
            <appender-ref ref="LOKI"/>
        </springProfile>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
